

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliFit</title>
    <link rel="stylesheet" href="../static/styles/base.css">
    {% block css %}
    {% endblock %}

</head>
<body>

    <img id="logo" src="{{ url_for('static', filename='images/IntelliFit.png') }}" alt="IntelliFit Logo">
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock %}
  
</body>
</html>
