body {
    background-image: url('../images/BACKGROUND.png');
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: repeat-y; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background image fixed when scrolling */
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust the width as needed */
   
}

#introPara {
    font-style: normal;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;

}

